.hero-unit  {
    text-align: center;
    background-color: rgba(255,255,255,0.7);
    font-weight: 500;
    border-radius: 20px;
    padding: 20px;


    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: -220px 0 0 -300px;
    height: 400px;
}

#tag-line {
  margin-top: 15px;
  font-size: 25px;
}

#map { position:absolute; top:0; bottom:0; width:100%; z-index: -1;}

#add-restaurant-modal { top: 50%; height: 480; margin-top: -220px;}

.leaflet-top {
    padding-top: 40px;
}
