.hero-unit  {
    text-align: center;
    background-color: #ffffff;
    font-weight: 500;
    opacity:0.9;
    border-radius: 20px;
    padding: 20px;


    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    margin: -220px 0 0 -300px;
    height: 400px;
}

.btn  {
  margin-top: 20px;
}

#tag-line {
  margin-top: 15px;
  font-size: 25px;
}

#logo {
}

body { margin:0; padding:0; }
#map { position:absolute; top:0; bottom:0; width:100%; z-index: -1;}

#add-restaurant-modal { top: 50%; height: 480; margin-top: -220px;}

.restaurant_checkboxes {

    list-style: none;

}

.restaurant_box {

    float: left;
    display: inline;

}

.popup {
    width: 50px;
    height: 25px;
    font-size: 12px;
}

.popup div {
    font-size: 15px;
    font-weight: bold;

}
