
.top-bar {
  list-style: none;
  margin: 0 0 0px 0;
  display: block;
  width: 100%;
  font: 20px Arial,sans-serif;
  color: #EEE;
  height: 70px;
  width: 100%;
  min-width: 1024px;
  position: fixed;
  top: 0;
  z-index: 500;
  background-color: rgb(250, 247, 247);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.navigate {
  display: inline-block;
  margin: 0 10px;
  color: #939393;
}

/*.navigate:hover {
  color: #FF840D;
  text-decoration: none;
  cursor: pointer;
}*/

.navigate a:hover {
  color: #1B968D;
  text-decoration: none;
  cursor: pointer;
}

.navigate a {
  text-decoration: none;
  color: #939393;
  padding: 10px;
  display: block;
  font: 900 25px "Arial", Helvetica, sans-serif;
}

.navbar-search-btn {
   background-color: #d43638;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eb5367), to(#d43638), color-stop(0.5, #e04751), color-stop(0.5, #de404a));
  background-image: -moz-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638);
  background-image: -o-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638);
  background-image: -webkit-linear-gradient(top, #eb5367, #e04751 50%, #de404a 50%, #d43638);
  border-color: #910101;
  color: #fcf9f9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eb5367', endColorstr='#d43638');
  text-shadow: 0 -1px rgba(34,25,25,0.5);
  -webkit-font-smoothing: antialiased;
  -webkit-border-radius: 6px;
  -webkit-box-shadow: 0 1px rgba(255,255,255,0.8),inset 0 1px rgba(255,255,255,0.35);
  box-shadow: 0 1px rgba(255,255,255,0.8),inset 0 1px rgba(255,255,255,0.35);
  cursor: pointer;
  display: inline-block;
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  padding: 3px 5px 3px 5px;
}

.nav-search-field {
  height: 180px;
  width: 300px;
}

.icon_text {
  color: #961B85;
  font-weight: bold;
  font-size: 25px;

}

