<div class="landing">
  <span class="headline_text">
  <button class="close ">&times;</button>
  <h1 class="logo headline_text">NOMNIVOR
    <%#= image_tag "logo_400.png", :id => "logo", :alt => "Nomnivor" %>
  </h1>
  <div id="tag-line">Find restaurants that match your diet.
  </div>

  <div>
    <button role="button" class="find_current_location" title="Find my location"></button>
    <form class="navbar-search">
      <input type="text" class="nav-search-field" method="get" placeholder="Old Street, London" id="search_term">
      <button type="submit" class="find_button find_location_button" id="geolocate">
      Find location
      </button>
    </form>
  </div>

<!--

  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
      </li>
      <li data-target="#myCarousel" data-slide-to="1">
      </li>
      <li data-target="#myCarousel" data-slide-to="2">
      </li>
    </ol>

    <div class="carousel-inner">
      <div class="active item">…
      </div>
      <div class="item">…
      </div>
      <div class="item">…
      </div>
    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;
    </a>
  </div>

-->

  </span>
</div>

<div id="add-restaurant-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    </button>
    <h3 id="myModalLabel">New Restaurant
    </h3>
  </div>
  <div class="modal-body">
    <p><%= render "restaurants/form" %>
    </p>
  </div>
</div>