
  </span>
</div>

<div id="add-restaurant-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
    </button>
    <h3 id="myModalLabel">New Restaurant
    </h3>
  </div>
  <div class="modal-body">
    <p><%= render "restaurants/form" %>
    </p>
  </div>
</div>

<!--

  <div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
      </li>
      <li data-target="#myCarousel" data-slide-to="1">
      </li>
      <li data-target="#myCarousel" data-slide-to="2">
      </li>
    </ol>

    <div class="carousel-inner">
      <div class="active item">…
      </div>
      <div class="item">…
      </div>
      <div class="item">…
      </div>
    </div>

    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;
    </a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;
    </a>
  </div>

-->









