<div class="hero-unit">
  <h1>Welcome to Nomnivor</h1>
  <p id="tag-line">Allergy-friendly food search</p>
  <%= image_tag "logo.png",:size => "200x200", :id => "logo" %>
  <p>
    <a class="btn btn-primary btn-large">
       Add restaurant
    </a>
  </p>
</div>