
<div class="landing">
  <span class="headline_text">
  <button class="close ">&times;</button>
  <h1 class="logo headline_text">
    <%= image_tag "nomnivor.png", :id => "logo", :alt => "Nomnivor" %>
  </h1>
  <div id="tag-line">Find restaurants that match your diet.
  </div>

  <div>
    <button role="button" class="find_current_location" title="Find my location"></button>
    <form class="navbar-search">
      <input type="text" class="nav-search-field" method="get" placeholder="Old Street, London" id="search_term">
      <button type="submit" class="find_button find_location_button" id="geolocate">
      Find location
      </button>
    </form>
  </div>
