<form class="navbar-search">
  <input type="text" class="search-query" method="get" placeholder="Where do you want to go?" id="search_term">
  <button type="submit" class="btn" id="geolocate">Find</button>
</form>
